<a href="https://colab.research.google.com/github/kahigajazz/python-to-ai/blob/weight_converter/Python_1_Hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Printing Output
print("Hello World")

Hello World

In [ ]:
# Variables
age = 21
age = 12
price = 19.95
first_name = "Jazz"
is_online = True
print(age, price, first_name, is_online)

# Exercise
patient_name = "John Smith"
patient_age = 20
is_new_patient = True
print(patient_name, patient_age, is_new_patient)

12 19.95 Jazz True
John Smith 20 True

In [ ]:
# Receive input
name = input("What is your name? ")
print("Hello " + name) #String Concatenation

What is your name? Jazz
Hello Jazz

In [ ]:
# Type Conversion
birth_year = input("Enter your birth year: ") # Input function returns values as a string

age = 2023 - int(birth_year) # Converts string to int

print(age)

# Others are like float(), str(), bool()

# Exercise
num_one = float(input("First Number: "))
num_two = float(input("Second Number: "))

sum = num_one + num_two

print("Sum: " + str(sum))

Enter your birth year: 2200
-177
First Number: 889
Second Number: 2
Sum: 891.0

In [ ]:
# Strings
course = 'Python For Beginners'
print(course.find('e'))
print(course.upper())
print(course.lower())
print(course.replace('f', '1'))
print('Python' in course)

12
PYTHON FOR BEGINNERS
python for beginners
Python For Beginners
True

In [ ]:
# Arithmetic Operators
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)

x = 10
x += 3 # Augmented Assignment Operator
x -= 3

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Operator Precedence
x = 10 + 3 * 2
print(x)

16

In [ ]:
# Comparison Operators
x = 3 > 2
x = 3 == 2
x = 3 >= 2
x = 3 < 2
x = 3 <= 2
x = 3 != 2

print(x)

True

In [ ]:
# Logical Operators
price = 5
print(price > 10 and price < 30)
print(price > 10 or price < 30)
print(not price > 10)

False
True
True

In [ ]:
# If Statements
temp = 25

if temp > 30:
    print("The weather is hot")
    print("Drink plenty of water")
elif temp > 20:
    print("It's a nice day")
elif temp > 10:
    print("It is a bit frosty. Stay sharp")
else:
    print("Damn. Hope you got some jackets")
print("Done")

It's a nice day
Done

In [ ]:
# Exercise 2: Weight Converter Program

weight = float(input("Weight: "))
choice = input("Kg(s) or lbs? Input 'k' for kgs, 'l' for lbs: ")

if choice == 'k':
    print("Weight in kg(s): " + str(weight))
elif choice == 'l':
    weight = weight * 2.20462
    print("Weight in lbs: " + str(weight))
else:
    print("Please choose the options given!")

Weight: 62.25
Kg(s) or lbs? Input 'k' for kgs, 'l' for lbs: l
Weight in lbs: 137.237595

In [ ]:
# While loops
i = 1
while i <= 5:
    print(i)
    i = i + 1
while i <= 10:
    print(i * '*')
    i = i + 1

1
2
3
4
5
******
*******
********
*********
**********

In [ ]:
# Lists
names = ["John", "Jazz", "Abby", "Claire"]
print(names)
names[0] = "Jon"
print(names)
print(names[0:3])
print(names)

['John', 'Jazz', 'Abby', 'Claire']
['Jon', 'Jazz', 'Abby', 'Claire']
['Jon', 'Jazz', 'Abby']
['Jon', 'Jazz', 'Abby', 'Claire']

In [ ]:
# List Methods
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

numbers.insert(0, -1)
print(numbers)

numbers.remove(3)
print(numbers)

numbers.clear()
print(numbers)

numbers = [1,2,3,4,5]
print(numbers)
print(1 in numbers)
print(10 in numbers)
print(len(numbers))

[1, 2, 3, 4, 5, 6]
[-1, 1, 2, 3, 4, 5, 6]
[-1, 1, 2, 4, 5, 6]
[]
[1, 2, 3, 4, 5]
True
False
5

In [ ]:
# For loop method
numbers = [10,29,28,76,90,67,8901]
print(numbers)

for item in numbers:
    print(item)
    print(" ")

i = 0
while i < len(numbers):      # For loop solves this problem
    print(numbers[i])
    i = i + 1

[10, 29, 28, 76, 90, 67, 8901]
10

29

28

76

90

67

8901

10
29
28
76
90
67
8901

In [ ]:
# range() Function
numbers = range(5, 1000, 100)
print(numbers)

for number in numbers:
    print(number)

range(5, 1000, 100)
5
105
205
305
405
505
605
705
805
905

In [ ]:
# Tuples
numbers = (1, 2, 3)
print(numbers.count(3))
print(numbers.index(2))

1
1