<a href="https://colab.research.google.com/github/kahigajazz/python-to-ai/blob/python_intro/Python_1_Hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Printing Output
print("Hello World")

Hello World

In [7]:
# Variables
age = 21
age = 12
price = 19.95
first_name = "Jazz"
is_online = True
print(age, price, first_name, is_online)

# Exercise
patient_name = "John Smith"
patient_age = 20
is_new_patient = True
print(patient_name, patient_age, is_new_patient)

12 19.95 Jazz True
John Smith 20 True

In [11]:
# Receive input
name = input("What is your name? ")
print("Hello " + name) #String Concatenation

What is your name? Jazz
Hello Jazz

In [19]:
# Type Conversion
birth_year = input("Enter your birth year: ") # Input function returns values as a string

age = 2023 - int(birth_year) # Converts string to int

print(age)

# Others are like float(), str(), bool()

# Exercise
num_one = float(input("First Number: "))
num_two = float(input("Second Number: "))

sum = num_one + num_two

print("Sum: " + str(sum))

Enter your birth year: 2200
-177
First Number: 889
Second Number: 2
Sum: 891.0

In [31]:
# Strings
course = 'Python For Beginners'
print(course.find('e'))
print(course.upper())
print(course.lower())
print(course.replace('f', '1'))
print('Python' in course)

12
PYTHON FOR BEGINNERS
python for beginners
Python For Beginners
True